{% include "header.html" %}


    <main class="form-signin w-100 m-auto"> 
        <div class="form-signin w-100 m-auto" style="max-width: 400px; margin-top: -3rem;">
            <form method="post" action="{{ url_for('login') }}"> 
                <img class="logo" src="/static/images/login.png" alt="login logo" width="80" height="72"> 
                <h1 class="h3 mb-3 fw-normal">Log in</h1> 
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3" role="alert">
                {{ message }}
                </div>
                <div class="form-floating"> 
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com"> 
                    <label for="floatingInput">Email address</label> 
                </div> 
                <div class="form-floating"> 
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"> 
                    <label for="floatingPassword">Password</label> 
                </div> 
                <button class="btn btn-primary w-100 py-2" type="submit">Log in</button> 
                <p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p> 
                {% endfor %}
                {% else %}
                <div class="form-floating"> 
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com"> 
                    <label for="floatingInput">Email address</label> 
                </div> 
                <div class="form-floating"> 
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"> 
                    <label for="floatingPassword">Password</label> 
                </div> 
                <button class="btn btn-primary w-100 py-2" type="submit">Log in</button> 
                <p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </main>



{% include "footer.html" %}